<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h4><b>Nuevo Cliente</b></h4>
          </div>
          <div class="col-sm-6">
            <a href="#" routerLink="/Home" class="btn btn-success back"><i class='fas fa-arrow-circle-left'></i>
              Volver</a>
          </div>
        </div>
      </div>

      <!-- Asegúrate de que el formulario abra aquí -->
      <form #clientForm="ngForm">

        <div class="table-content">
          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label for="Dni" class="p-t-b-10">DNI<span class="requiredStar">*</span></label>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="Dni" required maxlength="8" [(ngModel)]="addClientForm.Dni"
                name="Dni" #Dni="ngModel">
              <div *ngIf="Dni.errors && isSubmitted" class="alert alert-danger validationError">
                <div [hidden]="!Dni.errors?.['required']">
                  El DNI es obligatorio
                </div>
              </div>
            </div>
          </div>

          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label for="FirstName" class="p-t-b-10">Nombre<span class="requiredStar">*</span></label>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="FirstName" required maxlength="255"
                [(ngModel)]="addClientForm.FirstName" name="FirstName" #FirstName="ngModel">
              <div *ngIf="FirstName.errors && isSubmitted" class="alert alert-danger validationError">
                <div [hidden]="!FirstName.errors?.['required']">
                  El nombre es obligatorio
                </div>
              </div>
            </div>
          </div>

          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label for="LastName" class="p-t-b-10">Apellido<span class="requiredStar">*</span></label>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="LastName" required maxlength="255"
                [(ngModel)]="addClientForm.LastName" name="LastName" #LastName="ngModel">
              <div *ngIf="LastName.errors && isSubmitted" class="alert alert-danger validationError">
                <div [hidden]="!LastName.errors?.['required']">
                  El apellido es obligatorio
                </div>
              </div>
            </div>
          </div>

          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label for="Address" class="p-t-b-10">Dirección<span class="requiredStar">*</span></label>
            </div>
            <div class="col-sm-9">
              <textarea class="form-control" id="Address" required [(ngModel)]="addClientForm.Address" name="Address"
                #Address="ngModel"></textarea>
              <div *ngIf="Address.errors && isSubmitted" class="alert alert-danger validationError">
                <div [hidden]="!Address.errors?.['required']">
                  La dirección es obligatoria
                </div>
              </div>
            </div>
          </div>

          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label for="Phone" class="p-t-b-10">Teléfono<span class="requiredStar">*</span></label>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="Phone" required maxlength="10"
                [(ngModel)]="addClientForm.Phone" name="Phone" #Phone="ngModel" pattern="^\d{3}\d{3}\d{4}$">
              <div *ngIf="Phone.errors && isSubmitted" class="alert alert-danger validationError">
                <div [hidden]="!Phone.errors?.['required']">
                  Teléfono es obligatorio
                </div>
                <div [hidden]="!Phone.errors?.['pattern']">
                  Teléfono inválido
                </div>
              </div>
            </div>
          </div>

          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label for="Email" class="p-t-b-10">Email<span class="requiredStar">*</span></label>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="Email" required maxlength="255"
                [(ngModel)]="addClientForm.Email" name="Email" #Email="ngModel"
                pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z0-9]{2,3}$">
              <div *ngIf="Email.errors && isSubmitted" class="alert alert-danger validationError">
                <div [hidden]="!Email.errors?.['required']">
                  El email es obligatorio
                </div>
                <div [hidden]="!Email.errors?.['pattern']">
                  Email inválido
                </div>
              </div>
            </div>
          </div>

          <div class="form-group p-10 row">
            <div class="col-sm-3">
              <label for="RegistrationDate" class="p-t-b-10">Fecha Registro<span class="requiredStar">*</span></label>
            </div>
            <div class="col-sm-9">
              <input type="date" class="form-control" id="RegistrationDate" required
                [(ngModel)]="addClientForm.RegistrationDate" name="RegistrationDate" #RegistrationDate="ngModel">
              <div *ngIf="RegistrationDate.errors && isSubmitted" class="alert alert-danger validationError">
                <div [hidden]="!RegistrationDate.errors?.['required']">
                  La fecha es obligatoria
                </div>
              </div>
            </div>
          </div>

        </div> <!-- Cierre del contenido de la tabla -->

        <!-- Footer del formulario -->
        <div class="table-footer">
          <button class="btn btn-success" (click)="AddClient(clientForm.form.valid)">Guardar</button>
        </div>

      </form> <!-- Cierre correcto del formulario -->

    </div>
  </div>
</div>